

.chess_wrapper{
    display: flex;
    justify-self: center;
    justify-content: center;
    width: 250px;
    height: 250px;
}
button{
    margin-top: 15px;
}

@media screen and (min-width: 768px){
    .chess_wrapper{
        width: 400px;
        height: 400px;
    }
}
@media screen and (min-width: 1024px){
    .chess_wrapper{
        width: 500px;
        height: 500px;
    }

}

